<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        {{title}}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <agm-map [latitude]="lat" [longitude]="lng">
        <div *ngFor="let newsItem of listOfNews">
          <agm-marker
             [latitude]="newsItem.location.coordinates[0]"
             [longitude]="newsItem.location.coordinates[1] + 90"
             [title]="newsItem.shortDescription">
          </agm-marker>
        </div>
      </agm-map>
    </div>
  </div>
  <div class="row block__control" >
    <div class="col-xs-2">
      <input type="button" name="getNews" class="btn btn-primary" (click)="getAllNews()" value="Get all news"/>
    </div>
    <div class="col-xs-10">
      <form class="form-inline">
        <div class="form-group mx-sm-3">
          <label for="newsLocation">Location: </label>
          <input type="text" class="form-control" id="newsLocation" placeholder="Location" #location>
        </div>
        <div class="form-group mx-sm-3">
          <label for="distance">Distance: </label>
          <input type="text" class="form-control" id="distance" placeholder="Distance" #distance>
        </div>
        <button type="submit" class="btn btn-primary" (click)="getCoordinates(location.value, distance.value)">
          Get news for selected location
        </button>
      </form>
      {{this.locLat}}
      {{this.locLng}}
      {{distance.value}}
    </div>
  </div>
  <hr class="devider">
  <div class="row" *ngFor="let newsItem of listOfNews">
      <app-news [item]="newsItem"></app-news>
  </div>
</div>
