<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        {{title}}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row block__control" >
    <div class="col">
      <input type="button" name="getNews" class="btn btn-primary" (click)="getAllNews()" value="Get all news"/>
    </div>
  </div>
  <hr class="devider">
  <!-- Todo Create separate component for display one news -->
  <div class="row" *ngFor="let newsItem of listOfNews">
      <div class="col">
        <h4 [textContent]="newsItem.rubric"></h4>
        <h5 [textContent]="newsItem.date"></h5>
        <div>
          <img [src]="newsItem.imageUrl" *ngIf="newsItem.imageUrl">
          <p [textContent]="newsItem.shortDescription"></p>
          <a class="btn btn-success pull-right" href="#" role="button" (click)="toggleFullNews()">Show full news...</a>
          <div [hidden]="showFullNews" [textContent]="newsItem.fullText"></div>
        </div>
      </div>
  </div>
</div>
