<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        {{title}}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <agm-map [latitude]="lat" [longitude]="lng">
        <div *ngFor="let newsItem of listOfNews">
          <agm-marker
             [latitude]="newsItem.location.coordinates[0]"
             [longitude]="newsItem.location.coordinates[1]"
             [title]="newsItem.shortDescription">
          </agm-marker>
        </div>
      </agm-map>
    </div>
  </div>
  <div class="row block__control" >
    <div class="col">
      <input type="button" name="getNews" class="btn btn-primary" (click)="getAllNews()" value="Get all news"/>
    </div>
  </div>
  <hr class="devider">
  <div class="row" *ngFor="let newsItem of listOfNews">
      <news [item]="newsItem"></news>
  </div>
</div>
