agm-map {
    height: 300px;
}

.block__control {
    padding: 2rem 0;
}

hr.devider {
    border-top: 1px dashed #8c8b8b;
}
hr.devider:after {
    content: '\002702';
    display: inline-block;
    position: relative;
    top: -12px;
    left: 40px;
    padding: 0 3px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}